.Option{
    text-decoration: none;
    margin: 1rem;
    color: #fa7647;
    font-family: 'Fjalla One', sans-serif;
    font-weight: 600;
    background-color: #9cdbeb;
    box-shadow: 0 0 0 3px white, 0 0 0 5px rgb(156, 219, 235);
    border-radius: 2px;
}
.Option:hover{
    box-shadow: 0 0 0 3px white, 0 0 0 5px #fa7647;
    transition: 0.4s;
}
.ActiveOption{
    text-decoration: none;
    margin: 1rem;
    color: #fa7647;
    font-family: 'Fjalla One', sans-serif;
    font-weight: 600;
    background-color: #9cdbeb;
    box-shadow: 0 0 0 3px white, 0 0 0 5px #fa7647;
    border-radius: 2px;
    margin-left: 9rem;
    padding: 0.5rem;
}

.navbar{
    border: solid 2px;
    border-color: aliceblue;
    border-bottom-color: rgb(250, 118, 71);
    box-shadow: 0 0 10px  rgb(250, 118, 71);
    position: sticky;
    top: 0;
    z-index: 100;

}